USE [master]
GO
/****** Object:  Database [deloitte.acelive.ai_template_db]    Script Date: 18-03-2020 16:21:32 ******/
CREATE DATABASE [deloitte.acelive.ai_template_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deloitte.acelive.ai_template_db', FILENAME = N'/var/opt/mssql/data/deloitte.acelive.ai_template_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deloitte.acelive.ai_template_db_log', FILENAME = N'/var/opt/mssql/data/deloitte.acelive.ai_template_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deloitte.acelive.ai_template_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deloitte.acelive.ai_template_db]
GO
/****** Object:  Table [dbo].[blue_keywords]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blue_keywords](
	[id] [int] IDENTITY(2,1) NOT NULL,
	[keywords] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_dict]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_dict](
	[id] [int] IDENTITY(22,1) NOT NULL,
	[field_type] [varchar](max) NULL,
	[variation] [varchar](max) NULL,
	[orientation_variation] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_dict_old]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_dict_old](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_type] [varchar](max) NULL,
	[variation] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_neighbourhood_dict]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_neighbourhood_dict](
	[id] [int] IDENTITY(22,1) NOT NULL,
	[field] [varchar](255) NOT NULL,
	[neighbourhood_dict] [varchar](255) NOT NULL,
	[orientation_variation] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_quadrant_dict]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_quadrant_dict](
	[id] [int] IDENTITY(22,1) NOT NULL,
	[field] [varchar](255) NOT NULL,
	[quadrant] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historical_context]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historical_context](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[historical_context] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trained_info]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trained_info](
	[id] [int] IDENTITY(16,1) NOT NULL,
	[template_name] [varchar](100) NULL,
	[field_data] [varchar](max) NULL,
	[checkbox_data] [varchar](max) NULL,
	[header_ocr] [varchar](max) NULL,
	[footer_ocr] [varchar](max) NULL,
	[address_ocr] [varchar](max) NULL,
	[unique_fields] [varchar](max) NOT NULL,
	[count] [bigint] NULL,
	[sample_paths] [varchar](max) NULL,
	[ab_train_status] [bigint] NULL,
	[created_date] [datetime2](0) NULL,
	[ad_train_info] [varchar](max) NULL,
	[ocr_data] [varchar](max) NULL,
	[case_id] [varchar](255) NULL,
	[operator] [varchar](255) NULL,
	[tab_prop_data] [varchar](max) NULL,
	[agent] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ui_train_data]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ui_train_data](
	[id] [int] IDENTITY(122,1) NOT NULL,
	[case_id] [varchar](255) NOT NULL,
	[template_name] [varchar](255) NOT NULL,
	[ui_train_info] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendor_list]    Script Date: 18-03-2020 16:21:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_list](
	[id] [int] IDENTITY(117,1) NOT NULL,
	[vendor_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blue_keywords] ON 

SET IDENTITY_INSERT [dbo].[blue_keywords] OFF
SET IDENTITY_INSERT [dbo].[field_dict] ON 

INSERT [dbo].[field_dict] ([id], [field_type], [variation], [orientation_variation]) VALUES (1, N'invoice_number', N'{"Invoice No.": 5, "Invoice No": 2, "Invoice:": 1, "Invoice Number:": 1, "Invoice No :": 1, "Invoice No :-": 1, "Invoice": 1, "Invoie No": 1, "BILL NO.": 1, "Bill no": 1}', NULL)
INSERT [dbo].[field_dict] ([id], [field_type], [variation], [orientation_variation]) VALUES (2, N'invoice_date', N'{"Invoice Date.": 1, "Invoice date": 1, "Date of Invoice": 1, "Date:28/06/2019": 1, "Invoice Date :": 1, "Date": 4, "Invoice Date": 1, "Bill Date": 1, "Invoice Dt:": 1, "DATE.": 1, "Bill date": 1, "Invoice Dt": 1}', NULL)
INSERT [dbo].[field_dict] ([id], [field_type], [variation], [orientation_variation]) VALUES (3, N'vendor_name', N'{"Invoice No.": 1, "TAX INVOICE": 1, "Name :": 1, "Attention:": 1, "From :": 1, "For": 2, "Tax Invoice": 1, "Invoice From :-": 1, "nielsen": 1, "Project": 1, "Supplier:": 1}', NULL)
SET IDENTITY_INSERT [dbo].[field_dict] OFF
SET IDENTITY_INSERT [dbo].[field_neighbourhood_dict] ON 

INSERT [dbo].[field_neighbourhood_dict] ([id], [field], [neighbourhood_dict], [orientation_variation]) VALUES (1, N'invoice_number', N'{"No": 1, "Code Rate() a": 1, "Code No Amount Charges": 1, "Code No Amount": 1, "No.": 3, "Invoice": 3, "Invoice Dt": 2, "IFSC": 1, "NO.": 1, "DATE. to AMOUNT PAYABLE": 1, "BILL NO.": 1, "FOR": 1, "date": 2, "date Of (INR)": 1, "no": 1, "IFSC Code": 1, "A', N'[["left", 12], ["top", 3]]')
INSERT [dbo].[field_neighbourhood_dict] ([id], [field], [neighbourhood_dict], [orientation_variation]) VALUES (2, N'invoice_date', N'{"Amount": 2, "Code": 2, "Invoice Dt": 2, "Invoice": 2, "DATE.": 1, "DATE. AMOUNT Of": 1, "No.": 1, "Bill DATE.": 1, "date": 2, "date Of (INR)": 2, "Date": 1, "Name": 1, "Limited India. of the": 1, "Name Address": 1}', N'[["left", 11], ["top", 3], ["bottom", 1]]')
INSERT [dbo].[field_neighbourhood_dict] ([id], [field], [neighbourhood_dict], [orientation_variation]) VALUES (3, N'vendor_name', N'{"For": 1, "Rs": 1, "Of": 1, "India": 2, "Gurgaon, No. Description UOM Professional services for Total:": 1, "Gurgaon, Code Payment Terms Description Price Amount Total: Conditions,": 1, "Supplier:": 1}', N'[["left", 9], ["top", 3]]')
SET IDENTITY_INSERT [dbo].[field_neighbourhood_dict] OFF
SET IDENTITY_INSERT [dbo].[field_quadrant_dict] ON 

INSERT [dbo].[field_quadrant_dict] ([id], [field], [quadrant]) VALUES (1, N'invoice_number', N'{"(1, 1)": 4, "(1, 3)": 6, "(2, 4)": 1, "(2, 1)": 2, "(3, 2)": 2}')
INSERT [dbo].[field_quadrant_dict] ([id], [field], [quadrant]) VALUES (2, N'invoice_date', N'{"(1, 1)": 1, "(2, 3)": 1, "(2, 1)": 1, "(2, 4)": 1, "(1, 3)": 9, "(3, 2)": 2}')
INSERT [dbo].[field_quadrant_dict] ([id], [field], [quadrant]) VALUES (3, N'vendor_name', N'{"(1, 1)": 7, "(1, 3)": 1, "(3, 1)": 1, "(2, 3)": 2, "(0, 0)": 3, "(2, 1)": 1}')
SET IDENTITY_INSERT [dbo].[field_quadrant_dict] OFF
SET IDENTITY_INSERT [dbo].[trained_info] ON 

SET IDENTITY_INSERT [dbo].[trained_info] OFF
SET IDENTITY_INSERT [dbo].[vendor_list] ON 

INSERT [dbo].[vendor_list] ([id], [vendor_name]) VALUES (3, N'header check')
INSERT [dbo].[vendor_list] ([id], [vendor_name]) VALUES (4, N'br_test')
INSERT [dbo].[vendor_list] ([id], [vendor_name]) VALUES (5, N'orion_test')
GO
SET IDENTITY_INSERT [dbo].[vendor_list] OFF
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [template_name]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [count]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [ab_train_status]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [case_id]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [operator]
GO
ALTER TABLE [dbo].[trained_info] ADD  DEFAULT (NULL) FOR [agent]
GO
ALTER TABLE [dbo].[vendor_list] ADD  DEFAULT (NULL) FOR [vendor_name]
GO
USE [master]
GO
