USE [master]
GO
/****** Object:  Database [deloitte.acelive.ai_business_rules]    Script Date: 13-03-2020 12:10:14 ******/
CREATE DATABASE [deloitte.acelive.ai_business_rules]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deloitte.acelive.ai_business_rules', FILENAME = N'/var/opt/mssql/data/deloitte.acelive.ai_business_rules.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deloitte.acelive.ai_business_rules_log', FILENAME = N'/var/opt/mssql/data/deloitte.acelive.ai_business_rules_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deloitte.acelive.ai_business_rules].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deloitte.acelive.ai_business_rules]
GO
/****** Object:  Table [dbo].[data_sources]    Script Date: 13-03-2020 12:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_sources](
	[id] [int] IDENTITY(2,1) NOT NULL,
	[case_id_based] [varchar](8000) NOT NULL,
	[master] [varchar](8000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rule_data]    Script Date: 13-03-2020 12:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rule_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[case_id] [varchar](255) NOT NULL,
	[trace_data] [varchar](max) NOT NULL,
	[rule_params] [varchar](max) NOT NULL,
	[validation_params] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sequence_rule_data]    Script Date: 13-03-2020 12:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sequence_rule_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rule_string] [varchar](8000) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[rule_id] [varchar](11) NOT NULL,
	[next_if_sucess] [varchar](100) NOT NULL,
	[next_if_failure] [varchar](100) NOT NULL,
	[group] [varchar](50) NOT NULL,
	[stage] [varchar](255) NOT NULL,
	[rule_name] [varchar](255) NOT NULL,
	[data_source] [varchar](max) NOT NULL,
	[executions] [varchar](15) NULL,
	[unique_name] [varchar](255) NULL,
	[queue_rule_mapping] [varchar](255) NULL,
	[display_next_if_success] [varchar](100) NULL,
	[display_next_if_failure] [varchar](100) NULL,
	[decession_rule_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[data_sources] ON 

INSERT [dbo].[data_sources] ([id], [case_id_based], [master]) VALUES (1, N'{"extraction":["ocr"],"queues":["process_queue"],"business_rules":["rule_data"]}', N'{"extraction":["vendor_master","client_master","gst_compliance","hsn_master","ltd_master","pincode_gst_validation","po_master","rcm_master","tds_master","folder_client_tagging"]}')
SET IDENTITY_INSERT [dbo].[data_sources] OFF
SET IDENTITY_INSERT [dbo].[sequence_rule_data] ON 

GO
SET IDENTITY_INSERT [dbo].[sequence_rule_data] OFF
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [executions]
GO
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [unique_name]
GO
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [queue_rule_mapping]
GO
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [display_next_if_success]
GO
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [display_next_if_failure]
GO
ALTER TABLE [dbo].[sequence_rule_data] ADD  DEFAULT (NULL) FOR [decession_rule_order]
GO
USE [master]
GO
